/* General Styles */
.app-container {
    font-family: 'Lato', Arial, sans-serif; /*  fonts */
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}


  
  /* Header Section */
  .app-header {
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  .app-header p {
    font-size: 1rem;
    color: #666;
  }
  
  /* Weather Illustration */
  .weather-illustration {
    margin: 20px auto;
    text-align: center;
  }
  
  .weather-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Search Bar */
  .search-bar {
    margin: 20px auto;
}

.search-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-right: 10px;
    width: 250px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    border-color: #61dafb;
    outline: none;
    box-shadow: 0 0 5px rgba(97, 218, 251, 0.5);
}

.search-button {
    padding: 10px 15px;
    background-color: #0b1a1f; /* Dark background */
    color: white; /* White text for contrast */
    border: none;
    border-radius: 6px; /* rounded corners */
    font-weight: bold; /* Bold button text */
    cursor: pointer; 
    transition: all 0.3s ease; 
}

